body{
    height: 100%;
}
.todocard{
    width: 70%;
    margin: auto;
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.container {
    display: flex;
    flex-direction: column;  /* Stack heading and card vertically */
    align-items: center;     /* Center items horizontally */
  }